/* Import the variables so this file can see them */
@import '../../styles/variables.css';

.deep-button {
  display: inline-flex;
  height: 2.75rem;
  min-width: 3.75rem;
  
  /* Use the variables from your screenshot! */
  padding: 0.625rem var(--Spacing-3); 
  gap: var(--Spacing-1);
  border-radius: var(--Radius-Small);
  background: var(--Brand-Default);
  
  /* Other styles */
  color: var(--Brand-White);
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
